-- OPTION 1: Delete all old orders (H2/MySQL compatible)
DELETE FROM orders;

-- OPTION 2: Delete orders older than specific date
-- DELETE FROM orders WHERE date < '2026-04-01';

-- OPTION 3: Delete only null/invalid orders
-- DELETE FROM orders WHERE name IS NULL OR price = 0;

-- OPTION 4: Reset auto increment (MySQL)
-- ALTER TABLE orders AUTO_INCREMENT = 1;

-- OPTION 4: Reset auto increment (H2)
-- ALTER TABLE orders ALTER COLUMN id RESTART WITH 1;DELETE FROM orders;
